  * {
    margin: 0;
    padding: 0;
  }

  .cabecalho{
    padding: 15px 25px;
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(94, 30, 30);

  }

  .cartao{
    height: 260px; 
    width: 200px; 
  }

  .cartao-imagem {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(77, 133, 133);
  }

  main {
    flex: 1;
  }

  .cabecalho-link{
    color: aliceblue;
    text-decoration: none;
  }

  h1{
    color: aliceblue;
  }

  footer{
    background-color: rgb(94, 30, 30);
        padding: 15px 25px;
color: aliceblue;
  }